body {
    background-color: rgb(201, 201, 201);
    text-align: left;
}

section {
    margin: 5%;
    width: 90%;
    background-color: rgb(82, 82, 250);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 5px 5px grey;
}

header {
    text-align: center;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
}

ul {
    text-align: left;
}

h3 {
    text-align: left;
}

header nav {
    float: right;
    margin-right: 42%;
}

p {
    text-align: left;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-left: 30px;
}

@media screen and (max-width: 758px) {
    nav {
        flex-direction: column;
    }
    header {
        background: rgb(82, 82, 250);
        box-shadow: 5px 5px grey;
    }

}