

body {
    background-color: black;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

/* .wrap {
    margin: 2em;
} */

header {
    width: 100%;
    height: 30vh;
    background-image: url(../image/blckbg.png);
    background-size: cover;
    background-position: center;
    display: flow-root;
    justify-content: space-between;
    padding: 20px;
}

li {
    color: aliceblue;
}

nav ul {
    background: rgb(81, 129, 255);

    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100vh;
    margin: 0;
    list-style: none;
    width: 30%;
    text-align: right;
    padding: 1em;
    transform: translateX(100%);
    transition: 0.5s ease-in-out;
/* navbar desktop */
    li {
      margin: 2.5em 0 0 6em;
      
      &:nth-of-type(1) {
        margin-bottom: 4em;
      }

      a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-weight: bold;
        font-size: 1.5em;

        &:hover {
            color:brown;
            font-size: 1.6em;
            cursor: pointer;
        }
      }
    }
}

.about,
.experience,
.contact {
    /* background-color: rgba(0, 0, 255, 0.486); */
    margin-top: auto;
    border-radius: 0.4em;
}

.about-me,
.work-experience,
.contact-info {
    display: flex;
    justify-content: space-between;
    
}

.open {
    transform: translateX(0%);
}

.menu-open {
    position: fixed;
    bottom: 50px;
    right: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 7px;
    border: 1px black;
}
h1, p {
    text-align: center;
    color:aliceblue;
}

h1 {
    /* margin-left: 25px; */
    font-size:60px;
}

h2 {
    padding: 3rem;
    color: aliceblue;
}

p {
    font-size: 1.1rem;
    line-height: 1.5;
    padding: 100px;
}

.projects {
    text-align: center;
}

footer {
    background-color: bisque;
    color: black;
    text-align: center;
    padding: 1;
}
/* mobile view */
@media (min-width: 880px) {
    .wrap {
        margin: 0 4em;
    }

    .hide-desktop {
        display: none;
    }

    .hide-mobile {
        display: none;
    }

    .header-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;

        a {
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
        }
    }
    
    nav ul {
        position: unset;
        background: none;
        display: flex;
        gap: 2em;
        height: auto;
        width: auto;
        transform: translateX(0%);

        li a {
            font-size: 1.2rem;
        }
    }
}
